<!-- Place details page -->

<h1><%= @place["city"] %></h1>

<p><%= @place["country"] %>, <%= @place["post"] %></p>

<p>
  <a href="/places/new?place_id=<%= @place["id"] %>">New Place</a>
</p>

<p><a href="/places">Back to All Places</a></p>

<form action="/places/<%= @place["id"] %>" method="post">
  <input type="hidden" name="_method" value="delete">
  <button>Delete Place</button>
</form>

<p><a href="/posts/new">Posts</a></p>