<!-- Place details page -->

<h1><%= @place["city"] %></h1>

<p><%= @place["country"] %>

<h3>Posts</h3>

<form action="/posts" method="post">
 <% for post in @posts %>
    <p>
      <%= post["activity"] %>
      <br>
      <%= post["date"] %>
      <%= post["details"] %>
      <%= post["image"] %>
    </p>
 <% end %>


  <input type="hidden" name="place_id" value="<%= @place["id"] %>" id="place_id_input">
</form>


<p><a href="/posts/new?place_id=<%= @place["id"] %>">New Post</a></p>
<p><a href="/places">Back to All Places</a></p>