<!-- Place details page -->

<h1><%= @place["city"] %></h1>

<p><%= @place["country"] %>

<h3>Posts</h3>

<ul>
  <% for post in @posts %>
    <li>
      <%= post["activity"] %>
      <br>
      <%= post["date"] %>
      <%= post["details"] %>
    </li>
  <% end %>
</ul>

<form action="/places/<%= @place["id"] %>" method="post">
  <input type="hidden" name="_method" value="delete">
</form>

<p><a href="/posts/new?place_id=<%= @place["id"] %>">New Post</a></p>
<p><a href="/places">Back to All Places</a></p>